/* PROJECT PAGES: Home Page */

// HOTEL VIEW (<main>)
.hotel-view {
  background-color: var(--color-white);
  flex: 1;

  // GALLERY
  .gallery {
    display: flex;

    &__item {
      position: relative;
    }

    &__photo {
      width: 100%;

      display: block;
    }

    &__caption {
      position: absolute;
      bottom: 1.2rem;
      left: 50%;
      transform: translate(-50%, 30%);
      background-color: var(--color-primary-dark);
      color: var(--color-white);
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 2px 4px;
      border-radius: 2px;
      opacity: 0;
      transition: all 0.5s;
      backface-visibility: hidden;
    }

    &__item:hover &__caption {
      opacity: 0.75;
      transform: translate(-50%, 0);
    }
  }

  // OVERVIEW
  .overview {
    display: flex;
    align-items: center;
    border-bottom: var(--border-s);

    &__heading {
      font-size: 2.25rem;
      font-weight: var(--font-light);
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 1.5rem 3rem;

      @include respond(phone) {
        font-size: 1.8rem;
        padding: 1.25rem 2rem;
      }
    }

    &__stars {
      margin-right: auto;

      display: flex;
    }

    &__icon-star,
    &__icon-location {
      height: 1.75rem;
      width: 1.75rem;
      fill: var(--color-primary);
    }

    &__location {
      font-size: 1.2rem;
      display: flex;
      align-items: center;
    }

    &__icon-location {
      margin-right: 0.5rem;
    }

    &__rating {
      background-color: var(--color-primary);
      color: var(--color-white);
      margin-left: 3rem;
      padding: 0 2.25rem;
      align-self: stretch;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      @include respond(phone) {
        padding: 0 1.5rem;
      }
    }

    &__rating-average {
      font-size: 2.25rem;
      font-weight: var(--font-light);
      margin-bottom: -3px;

      @include respond(phone) {
        font-size: 1.8rem;
      }
    }

    &__rating-count {
      font-size: 0.8rem;
      text-transform: uppercase;

      @include respond(phone) {
        font-size: 0.5rem;
      }
    }
  }

  // DETAIL LAYOUT
  .detail-layout {
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: var(--border-s);
    font-size: 1.4rem;

    @include respond(tab-port) {
      padding: 3rem;
    }

    @include respond(phone) {
      flex-direction: column;
    }
  }

  // CTA
  .cta {
    padding: 3.5rem 0;
    text-align: center;

    @include respond(tab-port) {
      padding: 2.5rem 0;
    }

    &__book-now {
      font-size: 2rem;
      font-weight: var(--font-light);
      text-transform: uppercase;
      margin-bottom: 2.5rem;
    }
  }
}
